@import 'var';
@import './Home.scss';

.questions {
  min-height: 80vh;
  width: 80vw;
  max-width: 900px;
  z-index: 6;
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;

  #check {
    @extend .btn;
    max-width: 30%;
    min-height: 3rem;
    margin: 1.5rem auto;
    border-radius: 10px;
  }
}

.result {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  font-family: 'Karla', sans-serif;
  color: #293264;
}

@media (max-width: 400px) {
  .result {
    flex-direction: column;
  }
}

#play {
  @extend .btn;
  border-radius: 10px;
}

input[type='radio'] {
  display: none;
}

.question {
  border-bottom: 2px solid #dbdef0;
  padding-bottom: 1.5rem;
  margin-top: 1rem;

  h1 {
    color: #293264;
    font-family: 'Karla', sans-serif;
  }
}

label {
  min-width: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid #293264;
  border-radius: 8px;
  margin-right: 1rem;
  cursor: pointer;
  color: #293264;
  font-family: Inter;
  display: inline-block;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: #d6dbf5;
  }
}

input[type='radio']:checked + label {
  border: none;
  background-color: #d6dbf5;
}
